body {
    font-family: 'Kanit', sans-serif;
    margin: 0 auto;
    padding: 0px;
    
}

.container-1 {
    display: flex;
    height: 100%;
    width: 100vw;
  }
  
.Sidebar {
    
    width: 350px;
    background-color: #FFFFFF; /* เพิ่มสีพื้นหลังเพื่อแยกแต่ละส่วน */
    height: 100vh;
}

.container-sidebar {
    box-sizing: border-box;
    padding: 12px 12px 30px 12px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}
.box-savename {
    text-align: center;
}
.savename {
    width: 300px;
    border: 0px;
    outline: 0;
    background-color: #ffffff;
    border-radius: 9px;
    font-size: 24px;
    color: #e4e0e0;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
  }

.savename:hover {
    background-color: #F3F5F7;
    color: #3A3636;
}

.botton-processing{
    text-align: center;
    flex-grow: 1;
} 

.li-botton-processing {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.ui-botton-processing {
    list-style-type: none;
    display: contents;
  }


.button-li{
      outline: 0px;
      border: 0px;
      padding: 12px 12px 14px 14px;
      margin: 20px 0px 10px 0px;
      border-radius: 0px;
      background-color: #ffffff;
      border-radius: 7px;
      width: 300px;
      text-align: left;
  }

.button-li:active,
.button-li:focus,
.button-li:hover 
{
    background-color: #3A3636;
    color: #ffffff;
}
  
.Start {
    text-align: center;
}

.button-start {
    width: 115px;
    border-radius: 10px;
    height: 49px;
    background-color: #EFF1F3;
    color: black;
    outline: 0px;
    border: 0px;
    width: 190px;
  }
  
.button-start:hover {
    background-color: #e0e0e0;
    color: black;
}


.Main {
    flex: 1;
    background-color: #F6F7F9;
  
}

.start-main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
  }
  