.Label-container{
    overflow: auto;
    height: 100vh;
}
.row {
    --bs-gutter-x:0;
    list-style-type: none;
    display: contents;
  
    
 
}

img{
    height: 160px;
}


.label-name{
    text-align: center;
}

.Label {
    padding-top: 30px;
    padding-left: 30px;
}

.input_csv{
    width: 100px;
    border: 0px;
    border-radius: 9px;
    padding: 8px;
    background-color: rgb(243, 238, 238);
}