.Label-container{
    overflow: auto;
    height: 100vh;
}
.row {
    list-style-type: none;
    display: contents;
    padding: 50px;
 
}

img{
    height: 160px;
}


.label-name{
    text-align: center;
}

.Label {
    padding-top: 30px;
    padding-left: 30px;
}