.Label-container{
    overflow: auto;
    height: 100vh;
}
.row {
    --bs-gutter-x:0;
    list-style-type: none;
    display: contents;
  
    
 
}

img{
    height: 160px;
}


.label-name{
    text-align: center;
}

.Label {
    padding-top: 30px;
    padding-left: 30px;
}

.file {
    
}